{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/npm",
        "@semantic-release/changelog",
        "@semantic-release/git",
        "@semantic-release/github",
        [
            "@codedependant/semantic-release-docker",
            {
                "dockerTags": [
                    "latest",
                    "{{version}}",
                    "{{major}}",
                    "{{major}}.{{minor}}"
                ],
                "dockerLogin": false,
                "dockerRegistry": "ghcr.io",
                "dockerProject": "tomerh2001",
                "dockerArgs": {
                    "GH_REPO": "{{env.GH_REPO}}"
                }
            }
        ],
        [
            "@codedependant/semantic-release-docker",
            {
                "dockerTags": [
                    "latest",
                    "{{version}}",
                    "{{major}}",
                    "{{major}}.{{minor}}"
                ],
                "dockerProject": "tomerh2001"
            }
        ]
    ]
}